body {
	background: #262a2b;
}

.tilesWrap {
	padding: 0;
	margin: 50px auto;
	list-style: none;
	text-align: center;
}
.tilesWrap li {
	display: inline-block;
	width: 20%;
	min-width: 200px;
	max-width: 230px;
	padding: 80px 20px 40px;
	position: relative;
	vertical-align: top;
	margin: 10px;
	font-family: 'helvetica', san-serif;
	min-height: 25vh;
	background: #262a2b;/*rgba(77, 77, 255, 0.8);*/
	border: 1px solid #252727;
	text-align: left;
}
.tilesWrap li h2 {
	font-size: 114px;
	margin: 0;
	position: absolute;
	opacity: 0.2;
	top: 50px;
	right: 10px;
	transition: all 0.3s ease-in-out;
}
.tilesWrap li h3 {
	font-size: 20px;
	color: #b7b7b7;
	margin-bottom: 5px;
}
.tilesWrap li p {
	font-size: 16px;
	line-height: 18px;
	color: #b7b7b7;
	margin-top: 5px;
}
.tilesWrap li button {
	background: transparent;
	border: 1px solid #b7b7b7;
	padding: 10px 20px;
	color: #b7b7b7;
	border-radius: 3px;
	position: relative;
	transition: all 0.3s ease-in-out;
	transform: translateY(-40px);
	opacity: 0;
	cursor: pointer;
	overflow: hidden;
    margin-left: 100px;
}
.tilesWrap li button:before {
	content: '';
	position: absolute;
	height: 100%;
	width: 120%;
	background: #b7b7b7;
	top: 0;
	opacity: 0;
	left: -140px;
	border-radius: 0 20px 20px 0;
	z-index: -1;
	transition: all 0.3s ease-in-out;
	
}
.tilesWrap li:hover button {
	transform: translateY(5px);
	opacity: 1;
}
.tilesWrap li:hover h2 {
	top: 0px;
	opacity: 0.6;
}

.tilesWrap li:before {
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	z-index: -1;
	background: #fff;
	transform: skew(2deg, 2deg);
}
.tilesWrap li:after {
	content: '';
	position: absolute;
	width: 40%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(255, 255, 255, 0.02);
}
.tilesWrap li:nth-child(1):before {
	background: #C9FFBF;
background: -webkit-linear-gradient(to right, #FFAFBD, #C9FFBF);
background: linear-gradient(to right, #FFAFBD, #C9FFBF);
}
.tilesWrap li:nth-child(2):before {
	background: #f2709c;
background: -webkit-linear-gradient(to right, #ff9472, #f2709c);
background: linear-gradient(to right, #ff9472, #f2709c);
}
.tilesWrap li:nth-child(3):before {
	background: #c21500;
background: -webkit-linear-gradient(to right, #ffc500, #c21500);
background: linear-gradient(to right, #ffc500, #c21500);
}
.tilesWrap li:nth-child(4):before {
	background: #FC354C;
background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);
background: linear-gradient(to right, #0ABFBC, #FC354C);
}
.tilesWrap li:nth-child(5):before {
	background: #f2709c;
background: -webkit-linear-gradient(to right, #ff9472, #f2709c);
background: linear-gradient(to right, #ff9472, #f2709c);
}
.tilesWrap li:nth-child(6):before {
	background: #C9FFBF;
background: -webkit-linear-gradient(to right, #FFAFBD, #C9FFBF);
background: linear-gradient(to right, #FFAFBD, #C9FFBF);
}
.tilesWrap li:nth-child(7):before {
	background: #FC354C;
background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);
background: linear-gradient(to right, #0ABFBC, #FC354C);
}
.tilesWrap li:nth-child(8):before {
	background: #c21500;
background: -webkit-linear-gradient(to right, #ffc500, #c21500);
background: linear-gradient(to right, #ffc500, #c21500);
}
.tilesWrap li:nth-child(9):before {
	background: #c21500;
background: -webkit-linear-gradient(to right, #c21500#ffc500, white);
background: linear-gradient(to right, white, #ffc500);
}
.tilesWrap li:nth-child(10):before {
	background: #c21500;
background: -webkit-linear-gradient(to right, #c21500#ffc500, white);
background: linear-gradient(to right, #FFAFBD, blue);
}
.tilesWrap li:nth-child(11):before {
	background: #c21500;
background: -webkit-linear-gradient(to right, #c21500#ffc500, white);
background: linear-gradient(to right, #C9FFBF, white);
}
.tilesWrap li:nth-child(12):before {
	background: #c21500;
background: -webkit-linear-gradient(to right, #c21500#ffc500, white);
background: linear-gradient(to right, #ffc500, yellow);
}

h6 {
  color: whitesmoke;
  margin-top: 0;
  font-size: 10px;
  font-family: Helvetica, serif;
}

.zyklus{
    display: inline-block;
	width: 60%;
	min-width: 200px;
	max-width: 1600px;
	padding: 80px 20px 40px;
	position: relative;
	vertical-align: top;
	margin: 10px;
	font-family: 'helvetica', san-serif;
	min-height: 25vh;
	background: #262a2b;/*rgba(77, 77, 255, 0.8);*/
	border: 1px solid #252727;
	text-align: left;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    color: white;
    overflow: auto;
}
.layer{
    z-index: 3;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(194, 194, 194, 0.2);
    position: fixed;
    display: none;
    overflow: auto;
}
.bttn{
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    background-color: black;
    border: 1px solid #252727;
}

.bttn:hover{
    cursor: pointer;
    background-color: rgb(90, 90, 90);

}
